@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    background-color: v.$verde;
    @include m.tablet {
        &.fijo {
            left: 0;
            top: 0;
            position: fixed;   // posicion fija del nav
            width: 100%;
            box-shadow:.1rem .2rem .3rem #333;
        }
    }
    
    h1 {
        color: v.$blanco;
        text-align: center;
        @include m.tablet {
            margin: 0;
        }
       
    }
    .contenido-header {
        padding: 1.3rem;
        @include m.tablet {
            display: flex; // uno al lado del otro
            justify-content: space-between; // uno en cada punta del contenedor
            align-items: center;  // alinear orizontalmente
        }
    }
}
.navegacion-principal {
    @include m.tablet {
        display: flex;
        gap: 2rem;  // Separacion entre elementos
    }
   a{   
        display: block; //de arriba a abajo
        text-align: center;
         color: v.$blanco;
         font-size: 2.4rem;
         margin-bottom: 1rem;

         @include m.tablet {
            margin: 0;
         }

         &:hover {  // el & elimina el espacio al compilarlo, a:hover  (une los selectores)
             color: v.$amarillo;
         }
   } 
}